POSTGRES_DB=data_platform
POSTGRES_USER=data_platform
POSTGRES_PASSWORD=data_platform_password
POSTGRES_PORT=5432

APP_PORT=8080
JWT_SECRET=change-this-jwt-secret-before-production

COMPUTE_NAMESPACE=compute
SPARK_CLUSTER_IMAGE=ghostwood/mbs-spark:1.0.7-protobuf
HIVE_METASTORE_URIS=thrift://hive-metastore.metastore.svc.cluster.local:9083
S3A_ENDPOINT=http://minio-svc-private.storage.svc.cluster.local:9000
SPARK_WAREHOUSE_DIR=s3a://warehouse/
